//details
$background-color: var(--page-background-color);
$main-details-color: var(--page-details-color);
$hover-color: var(--hover-color);
$floating-squares-color: var(--floating-squares-color);
$contact-bg-color: var(--contact-bg-color);
$section-title-color: var(--section-title-color);
$input-color: var(--input-color);

$card-bg-color: var(--card-bg-color);
$card-bg-hover-color: var(--card-bg-hover-color);
$card-bg-active-color: var(--card-bg-active-color);

$gallery-empty: var(--gallery-empty);

$section-mobile-color: var(--section-mobile-color);

//fonts
$main-font-color: #707070;
$secondary-font-color: #31afd5;
$contrast-font-color: #fff;
$dark-font-color: #000;

//admin
$side-panel-admin: #343a40;
$cities-panel-admin: #e9ecef;

//forms
$placeholder-color: #d1d2d8;
$error-color: #dc3545;
$input-underline: #9e9e9e;

//footer links
$footer-links-color: hsla(0, 0%, 100%, 0.5);
