.vuetable {
  .activity-bar {
    display: flex;
    > a button {
      margin-right: 15px;
    }
  }
  .vuetable-body > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pagination {
    margin: 0;
    float: right;
    a.page {
      border: 1px solid $placeholder-color;
      border-radius: 3px;
      padding: 5px 10px;
      margin-right: 2px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        color: $contrast-font-color;
        background-color: $hover-color;
        border: 1px solid $placeholder-color;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
      }
    }

    a.btn-nav {
      border: 1px solid $placeholder-color;
      border-radius: 3px;
      padding: 5px 7px;
      margin-right: 2px;
      &:hover:not(.disabled) {
        cursor: pointer;
      }
      &.disabled {
        color: $placeholder-color;
        border: 1px solid $placeholder-color;
        border-radius: 3px;
        padding: 5px 7px;
        margin-right: 2px;
        cursor: not-allowed;
      }
    }
  }

  .card {
    .card-header {
      font-size: 1.6rem;
    }
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-footer {
      display: flex;
      justify-content: flex-end;

      button:first-of-type {
        margin-right: 10px;
      }
    }
  }
}
