.theme-dark {
  --page-background-color: #222029;
  --page-details-color: #2f2f40;
  --contact-bg-color: #2f2f40;
  --section-title-color: #fff;
  --input-color: #fff;
  --hover-color: #475170;
  --floating-squares-color: #475170;

  --card-bg-color: #2f2f40;
  --card-bg-active-color: #475170;
  --card-bg-hover-color: #475170;

  --empty-border: #2f2f40;
  --section-mobile-color: #222029;
}
