.theme-light {
  --page-background-color: #fff;
  --page-details-color: #0045b7;
  --contact-bg-color: #fff;
  --section-title-color: $main-font-color;
  --input-color: $main-font-color;
  --hover-color: #0d6bd9;
  --floating-squares-color: #eff9fc;

  --card-bg-color: #fff;
  --card-bg-active-color: #edeeee;
  --card-bg-hover-color: #f7f7f7;

  --empty-border: #f7f7f7;
  --section-mobile-color: #edeeee;
}
